# .gitignore

# automatically created by Microsoft(R) Visual Studio.

/IAmGroot2/.vs
/IAmGroot2/IAmGroot2/.vs/IAmGroot2/DesignTimeBuild
/IAmGroot2/IAmGroot2/.vs/IAmGroot2/v15
/IAmGroot2/IAmGroot2/bin
/IAmGroot2/IAmGroot2/node_modules
/IAmGroot2/IAmGroot2/obj/Debug


# Needed for angular cli generated project.

## compiled output
/dist
/tmp
/out-tsc

## dependencies
/node_modules

## IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

## IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

## System Files
.DS_Store
Thumbs.db

/IAmGroot2/IAmGroot2/Scripts/Angular/*.js
/IAmGroot2/IAmGroot2/Scripts/Angular/*.js.map

