/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h3 {
    font-size: 1.3em;
    font-weight: 700;
    color: #003478;
    border-bottom-color: none;
    border-bottom-style: none;
    padding: 0 0 8px;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
    width: 100%
}

.redBtn {
    background-color:#c20606;
    color: #ffffff;
    -webkit-box-shadow: 0 1px 2px #333;
    -moz-box-shadow: 0 1px 2px #333;
    box-shadow: 0 1px 2px #333;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-appearance: button;
    cursor: pointer;
    font-weight: 400;
    min-width: 100px;
    display: inline-block;
    padding: 8px 15px;
    margin-bottom: 0;
    margin-left: 7px;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent
}
